<div class="row align-items-end user-index">
  <div class="col">
    <img src="<%= user.photo %>" alt="User Photo" />
  </div>
  <div class="col">
    <%= link_to user.name, user_path(user.id) %>
  </div>
  <div class="col">
    Number of posts: <%= user.posts.count %>
  </div>
  <%= form_with url: new_user_post_path(user_id: user.id), method: :get do %>
    <button type="submit" class="comment-button">Create post</button>
  <% end %>
</div>
