<div class="row align-items-end comment">
  <div class="col">
  <%= comment.user.name %>: <%= comment.text %>
  <% if can? :destroy, comment %>
  <%= form_with url: user_post_comment_path(@post.author, @post, comment), method: :delete do |form| %>
    <%= form.submit 'Delete Comment', data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
  </div>
</div>
