/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.user-index {
  margin: 1%;
  background-color: lightblue;
  padding: 2%;
}

.inner {
  background-color: pink;
  width: 98%;
  margin: 2% 1%;
  padding: 2%;
}

.paginate {
  margin-bottom: 2%;
}

.comment {
  background-color: gray;
  margin: 2% auto;
  padding: 1%;
}

.post-show .button-group {
  display: flex;
  justify-content: flex-end;
}

.button-group button {
  width: 10%;
}

.delete-post {
  border: 1px solid black;
}

.delete-post:active {
  background-color: gray;
}
